:root{
    --subtitle:24px;
    --header-1:60px;
    --header-2:44px;
    --green:#e6dace;
    --darkGrey:#333333;
    --contentResult:#FDFCF7;
    --content:#EEEEEE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color:var(--green);
    color: var(--content);
    font-size: 18px;
    overflow-x: hidden;
}
a{
    color: inherit;
    text-decoration: none;
}
.project{
    width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	
	align-items: center;
}
.project .container{
    width: 60%;
	height: 70vh;
    background-color: var(--darkGrey);
    border-radius: 12px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}
.project .container .card{
    width: 100%;
    height: auto;
    display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}
.project .container .card .hLine{
    height: 5px;
    border-radius: 5px;
    background-color: #e6dace;
    width: 40%;
    margin-bottom: 20px;
   
}
.project .container .card .cardLeft{
    width: 40%;
	height: 60vh;
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    margin-left: 40px;
}
.project .container .card .cardLeft .heading{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    animation: bounce 1s ease-in-out infinite;
    
}
@keyframes bounce {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-5%);
    }
    100%{
        transform:translateY(0%);
    }
    
}
.project .container .card .cardLeft .heading .head{
    font-size: var(--subtitle);
}
.project .container .card .cardRight{
    width: 60%;
    height: 60vh;
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}
.project .container .card .cardRight .inputGrp1, .project .container .card .cardRight .inputGrp2,.project .container .card .cardRight .inputGrp3{
    margin-bottom: 25px;
}
.project .container .card .cardRight .inputGrp1 .group, .project .container .card .cardRight .inputGrp2 .group, .project .container .card .cardRight .inputGrp3 .group{
    display: flex;
    justify-content: center;
	flex-direction: row;
	align-items: center;
    margin-bottom: 10px;
}
.project .container .card .cardRight .inputGrp1 .group input, .project .container .card .cardRight .inputGrp2 .group input, .project .container .card .cardRight .inputGrp3 .group input{
    width: 70px;
    height: 30px;
    border-radius: 8px;
    outline: none;
    margin-left: 5px;

}
.project .container .card .cardRight .inputGrp1 .error1, .project .container .card .cardRight .inputGrp2 .error2, .project .container .card .cardRight .inputGrp3 .error3{
    font-size: 12px;
    top: 0;
    color: #f88181;
}
.project .container .card .cardRight .inputGrp1 .vLine, .project .container .card .cardRight .inputGrp2 .vLine, .project .container .card .cardRight .inputGrp3 .vLine{  
 border-radius: 500px;
    outline: none; 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
.project .container .card .cardRight .btn{
    margin: 4px 0;
    padding: 4px 8px;
    width: fit-content;
    border: none;
    outline: none;
    /* background-color: var(--green); */
    color: var(--green);
    border-radius: 4px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0,0, 0.20);
    transition: all 200ms ease-in-out;

}
.project .container .card .cardRight .btn:hover{
    transform: translateY(-5px);
}
.project .container .result{
    display: flex;
    justify-content: center;
	align-items: center;
    font-size: 24px;
    color: var(--contentResult);
    
}

@media screen and (max-width:640px){
    body{
       
        font-size: 14px;
        overflow-x: hidden;
    }
    .project .container{
        width: 70%;
        height: 75vh;
        
    }
    .project .container .card .cardLeft{
        width: 40%;
        height: 60vh;
       
        margin-left: 40px;
    }
    .project .container .card .hLine{
       
        width: 60%;
        margin-bottom: 20px;
       
    }
    .project .container .card .cardLeft .heading .head{
        font-size: var(--subtitle-resp);
        font-weight: 400;
    }
    .project .container .card .cardRight .inputGrp1 .group input, .project .container .card .cardRight .inputGrp2 .group input, .project .container .card .cardRight .inputGrp3 .group input{
        width: 40px;
        height: 25px;
        margin-left: 4px;
    
    }
    .project .container .card .cardRight .inputGrp1 .error1, .project .container .card .cardRight .inputGrp2 .error2, .project .container .card .cardRight .inputGrp3 .error3{
        font-size: 9px;
        line-height: 80%;
       
    }
    .project .container .card .cardRight .btn{
        margin: 2px 0;
        padding: 2px 4px;
        width: 20px;
        width: fit-content;
        font-size: var(--subtitle-resp);
    
    }
    .project .container .result{
        font-size: 16px;
      
        
    }
    
}
